{:deps         true

 :nrepl        {:port 8241}

 :source-paths ["src"]

 :builds       {:test {:target           :node-test
                       :compiler-options {:optimizations :none}
                       :output-to        "cljs-out/test/node-tests.js"
                       :ns-regexp        "-test$"
                       :autorun          true}}}

